.card {
  position: absolute;
  pointer-events: none;
  padding-top: 15%;
  z-index: 2;
  width: var(--card-width);

  p {
    margin-left: var(--xl);
    text-align: justify;
    span {
      font-weight: 800;
    }
  }
}
