.map-container {
  max-width: 100vw;
  max-height: 100vh;
  #tooltip-map {
    position: absolute;
    max-width: 300px;
    width: 50%;
    padding: var(--s) var(--m);

    background: var(--white);
    box-shadow: 1px 1px 7px -3px rgba(0, 0, 0, 0.5);
    z-index: 100;

    color: var(--primary-dark);
    border-left: var(--xs) solid var(--primary-dark);
    pointer-events: none;

    span {
      font-weight: 800;
    }
  }
  .map-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
  }
}
