.summary {
  display: inline-flex;
  justify-content: center;
  gap: var(--xxl);

  * > div {
    flex: 1 1;
  }

  h3 {
    margin-bottom: var(--m);
  }

  h4 {
    margin-bottom: var(--s);
  }

  p {
    margin: var(--s) 0 var(--m);
  }

  ul {
    padding-left: 20px;
  }
}

.reference,
.data-source,
.team {
  line-height: var(--ml);

  li {
    font-style: italic;
    font-size: var(--sm);
    margin-bottom: var(--s);
  }

  .oneline {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    li {
      margin-right: var(--xl);
      margin-bottom: 0px;
    }
  }
}

@media (max-width: 600px) {
  .summary {
    flex-direction: column;
  }
}
