@import url('https://fonts.googleapis.com/css2?family=Yrsa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;900&display=swap');

@import 'pages/title';
@import 'pages/introMap';
@import 'pages/eco';
@import 'pages/summary';
@import 'components/card';
@import 'components/dotchart';

:root {
  // === COLORS PRIMARY
  --primary-dark: #eb5832;
  --primary-light: #e2b9ad;

  // === COLORS ACCENT
  --accent-dark: #6bbaad;
  --accent-light: #b0d9d5;

  // === SHADES OF GRAY
  --black: #2b363b;
  --white: #ffffff;
  --grey-dark: #818181;
  --grey-light: #efefef;

  // === FONT
  --font-title: 'Yrsa', serif;
  --font-main: 'Mulish', sans-serif;
  --font-subtitle: 'Kalam', cursive;

  // === FONT SIZE
  --xs: 4px;
  --s: 8px;
  --sm: 14px;
  --m: 16px;
  --l: 28px;
  --xl: 40px;
  --xxl: 60px;
  --section-padding: 10%;
  --card-width: 40%;
}

@media (max-width: 600px) {
  :root {
    --sm: 12px;
    --m: 14px;
    --l: 20px;
    --xl: 30px;
    --xxl: 40px;
    --section-padding: 5%;
    --card-width: 80%;
  }

  small {
    font-size: var(--sm);
  }
}

*::selection {
  color: var(--white);
  background-color: var(--primary-dark);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  font-size: var(--m);
  font-weight: 400;
  line-height: var(--l);
}

form {
  flex-grow: 1;
}

h3 {
  font-size: var(--xl);
  line-height: var(--xl);
  font-family: var(--font-title);
}

h4 {
  font-size: var(--l);
  font-family: var(--font-title);
  font-weight: 700;
}

strong {
  font-weight: 800;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 900;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary-dark);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary-light);
}

.u-section {
  height: 100%;
  min-height: 100vh;
  // position: relative;
}

.u-container {
  padding: 0 var(--section-padding);
}

.u-red {
  color: var(--primary-dark);
}

.progressMainWrapper {
  background-color: var(--grey-light);
  height: 0.5rem;
  position: sticky;
  top: 0;
  left: 0;

  z-index: 100;
}

.progressMainStyle {
  height: 0.5rem;
  background-color: var(--primary-dark);
}

.hidden {
  opacity: 0;
}

.yaxis {
  path {
    display: none;
  }

  line {
    stroke: var(--grey-light);
  }
}
